<ul>
  <% if ::Refinery::Reports::Admin::DepartmentsController.searchable? %>
    <li>
      <%= render '/refinery/admin/search', :url => refinery.reports_admin_departments_path %>
    </li>
  <% end %>
  <li>
    <%= link_to t('.create_new'), refinery.new_reports_admin_department_path,
                 :class => "add_icon" %>
  </li>
</ul>
